:root {
    --fondo-primario: rgb(56, 47, 131);
    --fondo-secundario: rgba(56, 52, 243, 0.795);
    --fondo-terciario: rgba(44, 116, 56, 0.822);
    --fondo-negro: black;
    --texto-blanco: #fff;
    --fondo-blanco: rgb(255, 255, 255);
    --texto-negro: black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    width: 100%;
    color: var(--texto-blanco);
    background: linear-gradient(45deg,
            var(--fondo-primario),
            var(--fondo-secundario),
            var(--fondo-terciario),
            var(--fondo-negro));
    background-size: 400% 400%;
    position: relative;
    animation: cambiar-fondo 10s ease-in-out infinite;
}

@keyframes cambiar-fondo {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.contenedor-contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 70%;
    background-color: var(--fondo-blanco);
    border-radius: 15px;
    position: relative;
}

.computadora-fondo {
    position: absolute;
    left: 0;
    height: 100%;
    width: 40%;
    filter: blur(0px);
    z-index: 0;
    background-image: url('../assets/images/computadora-fondo.jpg');
    background-position: center;
    border-radius: 10px 0px 0px 10px;
}


/* ncluye tanto el logo como el menú */
.ubicacion-logo-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 15px;
}

.menu-container {
    display: flex;
    align-items: center;
}

.lista-menu {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    color: var(--texto-blanco);

}

.lista-menu li a {
    text-decoration: none;
    color: rgb(7, 151, 31);
    font-weight: bold;
}

.lista-menu li a:hover {
    color: white;
    background-color: rgb(24, 24, 109);
    border-radius: 25px;
    font-size: 18px;
    padding: 10px;

}

.menu-icon {
    display: none;
    /* para ocultar el ícono del menú por defecto */
}

.img-logo {
    position: relative;
    width: 120px;
    height: 70px;
    margin: 0;
    padding: 20px;
    filter: contrast(3);
}

.informacion-inicial {
    position: absolute;
    left: 0;
    top: 140px;
    width: 400px;
    background-color: rgba(20, 3, 112, 0.87);
    color: var(--texto-blanco);
    margin-left: 50px;
    padding: 20px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);

}

.redes-iconos {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    margin-right: 20px;
    gap: 8px;


}

.its-animacion {
    position: absolute;
    bottom: 20px;
    right: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    animation: flip-scale-up-ver 3s infinite;
    color: var(--texto-negro);
}

/* Animación para .its-animacion */
@keyframes flip-scale-up-ver {
    0% {
        transform: scale(1) rotateY(0);

    }

    50% {
        transform: scale(2.5) rotateY(90deg);
        color: var(--fondo-terciario);
        font-size: 25px;
    }

    100% {
        transform: scale(1) rotateY(180deg);
    }
}

.plus {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: var(--fondo-blanco);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}

.plus:hover {
    background-color: var(--fondo-secundario);
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}


/*plus sobre mi informacion de desarrollo*/

.container-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 30%;
    height: 80%;
    border-radius: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
    overflow: none;
    padding: 20px;
}


.imagen-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.imagen-perfil img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 4px 4px 10px rgba(59, 6, 66, 0.856);
}

.perfil {
    font-family: 'Abel', sans-serif;
    color: var(--texto-negro);
    font-weight: bold;
    margin-right: 20px;
    margin-left: 20px;


}

.perfil h2 {
    text-align: center;
    color: rgb(106, 12, 109);
}

.perfil h3 {
    background-color: rgba(137, 26, 211, 0.651);
    text-align: center;
}

/*para volver a la pagina principal*/

.arrow {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    background-color: seashell;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);


}

.arrow:hover {
    background-color: var(--fondo-secundario);
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}


/* Iconos */
.material-symbols-outlined {
    font-size: 48px;
    color: var(--texto-negro);
    display: inline-flex;
    margin-left: 50px;
}


/*MEDIAS QUERY - RESPONSIVE*/


@media (max-width: 939px) {
    .menu-container {
        display: none;
        position: absolute;
        top: 50px;
        right: 20px;
        border-radius: 5px;
    }

    .menu-container.active {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .lista-menu {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;/
    }

    .lista-menu li a:hover {
        color: rgb(0, 0, 0);
        background-color: rgba(138, 23, 23, 0);
        border-radius: 0px;
        font-size: 18px;
        padding: 10px;

    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        z-index: 1000;
        /* para que el ícono esté sobre el menú */
    }


    .informacion-inicial {
        margin-top: 50px;
        margin-bottom: 30px;
        width: 60%;
        height: 60%;
        padding: 10px;
        background-color: rgba(13, 13, 100, 0.712);
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .informacion-inicial h1 {
        font-size: 20px;
    }

    .informacion-inicial h3 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .informacion-inicial p {
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 20px;
    }

    .container-perfil {
        width: 50%;

    }

}

/*FORMULARIO DE INSCRIPCION*/
.estilos-generales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Abel', sans-serif;
}

h1 {
    margin-top: 50px;
    text-align: center;
    color: var(--texto-blanco);
    font-family: 'Abel', sans-serif;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: var(--fondo-blanco);
    width: 55%;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);


}

form {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

label {
    margin: 5px;
    color: rgb(94, 20, 163);
    font-weight: bold;
}

button {
    width: 70px;
    border-radius: 8px;
    margin-top: 15px;
    font-weight: bold;
    background-color: rgb(94, 20, 163);
    color: var(--texto-blanco);
}

.button {
    display: flex;
    justify-content: center;
    margin-bottom: 9px;
}

.container-nosotros {
    background-color: #fff;
}